* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #F0A500;
}

@media (min-width: 300px) {
  .container {
    height: 100%;
  }
  h1 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    color: #F0A500;
    margin-top: 5%;
  }
}
@media (max-width: 992px) {
  header {
    display: grid;
    color: #F0A500;
  }
  header .navbar-nav {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    background: rgba(59, 58, 58, 0.9);
  }
  header .navbar-nav a {
    font-size: 2em;
  }
  .container {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .container-form {
    width: 80%;
  }
  .video {
    margin: 0 20%;
  }
}
.contenedorPrincipalIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(30, 0, 0, 0.5)), url(../img/imagen3.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  grid-template-rows: 80px auto 10%;
}

.contenedorPrincipalMusica {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 0, 0, 0.3)), url(../img/imagen10.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  grid-template-rows: 80px auto 10vh;
}

.contenedorPrincipalShow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 20, 0.5)), url(../img/Imagen7.jpg);
  background-size: cover;
  background-position: left;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  grid-template-rows: 80px auto 10vh;
}

.contenedorPrincipalHistoria {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../img/imagen16.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  grid-template-rows: 80px auto 10vh;
}

.contenedorPrincipalContacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(10, 0, 0, 0.5)), url(../img/imagen13.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  grid-template-rows: 80px auto 10vh;
}

.z-index {
  z-index: 1;
}

header {
  display: grid;
  grid-area: header;
  align-items: center;
  width: 100%;
}
header .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}
header .navbar-nav a:hover {
  scale: 1.1;
}
header .navbar-nav strong {
  color: #F0A500;
  text-shadow: 1px 1px 0px #8a2100;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}

main .titulos, main .tituloSecundario {
  font-family: "Nunito", sans-serif;
  font-family: "Shrikhand", cursive;
  color: #F0A500;
}
main .card {
  background-color: rgba(59, 58, 58, 0.4);
  margin-bottom: 2%;
}
main .col-md-12 {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 2%;
}
main .container-video {
  margin: 3% 0;
}
main .container-fechas {
  background-color: rgba(0, 0, 0, 0.4);
}
main .fechas {
  color: white;
  letter-spacing: 0.1em;
}
main .lugarFecha {
  color: #f77b10;
}
main .form {
  background: rgba(59, 58, 58, 0.4);
  border-radius: 7px;
  padding: 0 20px;
  margin-top: 2%;
}
main .form .boton {
  margin-bottom: 5%;
}
main .sectionMusica {
  margin-top: 2%;
}
main .sectionHistoria {
  margin-top: 2%;
}

footer {
  display: grid;
  grid-area: footer;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}
footer a {
  font-size: 30px;
  margin: 0 20px;
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.titulos, main .tituloSecundario {
  letter-spacing: 4px;
  text-shadow: 3px 3px 0px #8a2100;
}

/*# sourceMappingURL=style.css.map */
