main{
    h1{
        font-family: 'Nunito', sans-serif;
        font-family: 'Shrikhand', cursive;
        color: $color-principal;
        letter-spacing: 4px;
        text-shadow: 3px 3px 0px #8a2100;
    }
    .fechas{
        color: white;
    }
}