main{
    .titulos{
        font-family: 'Nunito', sans-serif;
        font-family: 'Shrikhand', cursive;
        color: $color-principal;
    }
    .card{
        background-color: rgba(59, 58, 58, 0.4);
        margin-bottom: 2%;
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 2%;
    }
    .tituloSecundario{
        @extend .titulos;
    }
    .container-video{
        margin: 3% 0;
    }
    .fechas{
        color: white;
        letter-spacing: 0.1em;
    }
    .lugarFecha{
        color: #f77b10;
    }
    .form{
        background: rgba(59, 58, 58, 0.4);
        border-radius: 7px;
        padding: 0 20px;
        margin-top: 2%;
        .boton{
            margin-bottom: 5%;
        }
    }
    .sectionMusica{
        margin-top: 2%;
    }
    .sectionHistoria{
        margin-top: 2%;
    }
}