main{
    .titulos{
        font-family: 'Nunito', sans-serif;
        font-family: 'Shrikhand', cursive;
        color: $color-principal;
        @include fuentesParaTitulos;
    }
    .tituloSecundario{
        @extend .titulos
    }
    .fechas{
        color: white;
    }
    .form{
        background: rgba(59, 58, 58, 0.4);
        border-radius: 7px;
        padding: 0 20px;
        margin-top: 2%;
        .boton{
            margin-bottom: 5%;
        }
    }
    .sectionMusica{
        margin-top: 2%;
        .divParrafo{
            margin-bottom: 10%;
        }
    }
    .sectionHistoria{
        margin-top: 2%;
    }
}