@media (max-width: 576px){
    h1{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        align-items: center;
        color: #F0A500;
    }
}

@media (min-width: 768px){
    header{
        display: grid;
        color: #F0A500;
    }
}    

@media (min-width: 992px){
    .container{
        width: 70%;
    }
    .container-form{
        width: 55%;
    }
}